{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <article class="date">
        <section class="header">
            <h2>{{ result.entry_date }}</h2>
        </section>
        <section class="form">
            <div>
                <form method="post">
                    <label for="select-food">
                        <span>Select Food:</span>
                        <select name="select-food" id="select-food">
                            {% for foo in food_result %}
                                <option value="{{ foo.id }}">{{ foo.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit">Add</button>
                </form>
            </div>
            <div class="food-calories">
                <ul>
                    <li class="food-name">Total Calories</li>
                    <li>
                        <span>Protein:</span>
                        <span>{{ totals.protein }}</span>
                    </li>
                    <li>
                        <span>Carbohydrates:</span>
                        <span>{{ totals.carbohydrates }}</span>
                    </li>
                    <li>
                        <span>Fat:</span>
                        <span>{{ totals.fat }}</span>
                    </li>
                    <li>
                        <span>Calories:</span>
                        <span>{{ totals.calories }}</span>
                    </li>
                </ul>
            </div>
            <div class="food-calories">
                {% for foo in calories_sum_result %}
                <ul>
                    <li class="food-name">{{ foo.name }}</li>
                    <li>
                        <span>Protein:</span>
                        <span>{{ foo.protein }}</span>
                    </li>
                    <li>
                        <span>Carbohydrates:</span>
                        <span>{{ foo.carbohydrates }}</span>
                    </li>
                    <li>
                        <span>Fat:</span>
                        <span>{{ foo.fat }}</span>
                    </li>
                    <li>
                        <span>Calories:</span>
                        <span>{{ foo.calories }}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </section>
    </article>
{% endblock %}